/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);

html, body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ddd;
  background-image: url(../img/gplay.png);
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* box-shadow helper class */
.z-index-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}
.z-index-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.z-index-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}
.z-index-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
.z-index-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.edlio-watermark-svg {
  width: 2em;
  height: 1em;
  float: left;
}

.fix-center-label {
  text-align: left;
}

/* mobile css */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  section#main_views {
    height: 100%;
  }

  .ui.mobile.only {
    height: 100%;
  }

  .ui.grid > .column {
    margin-top: 0;
  }
}

/* Animations with Animate.css */

#main_views.ng-enter,
#main_views.ng-leave {
    -webkit-transition: 1s all;
       -moz-transition: 1s all;
            transition: 1s all;

    position: absolute;
}

#main_views.ng-enter #login_form {
    -webkit-animation: fadeInDown 1s;
         -o-animation: fadeInDown 1s;
            animation: fadeInDown 1s;
}

#main_views.ng-leave #login_form {
    -webkit-animation: fadeOut 1s;
         -o-animation: fadeOut 1s;
            animation: fadeOut 1s;
}

#login_feedback.ng-enter {
    -webkit-animation: fadeInUp 0.3s;
         -o-animation: fadeInUp 0.3s;
            animation: fadeInUp 0.3s;
}

#login_feedback.ng-leave {
    -webkit-animation: fadeOutDown 0.3s;
         -o-animation: fadeOutDown 0.3s;
            animation: fadeOutDown 0.3s;
}