<section class="ui computer tablet only divided grid">
	<div class="three wide column">
		<div class="ui vertical fluid red menu">
			<a class="item" ui-sref="dashboard.summary"
				ui-sref-active-eq="active">
				Last Week's Summary
			</a>
			<a class="item" ui-sref="dashboard.noteEditor"
				ui-sref-active="active">
				Note Editor
			</a>
			<a class="item" ui-sref="dashboard.presentation"
				ui-sref-active="active">
				Present Note
			</a>
		</div>
	</div>

	<div class="thirteen wide column">
		<div ui-view></div>
	</div>
</section>