<div class="ui one column grid inherit-height">
	<div class="column inherit-height">
		<header class="ui aligned inverted black center header attached top message clearfix">
			<div class="ui floated right icon buttons">
				<div class="ui button"
					tooltip-placement="bottom" tooltip="Q & A">
					<i class="comment outline icon"></i>
				</div>
				<div class="ui button"
					tooltip-placement="bottom" tooltip="Fullscreen mode"
					ng-click="presentation.requestFullScreen()">
					<i class="fullscreen icon"></i>
				</div>
			</div>
		</header>

		<div class="ui inverted attached segment body-inner-container">
			<revealjs-presentation id="presentation_container" slide-sections="presentation.weeklyNotes">
			</revealjs-presentation>
		</div>
	</div>
</div>